ion-card-title{
    padding:2em;
    text-align: center;
    text-overflow: unset;
}
ion-searchbar{
    margin: 1em 8em;
    max-width: 80%;
}
ion-content{
    --background: #222428;
}

ion-card{
    --background: #fff;
}